@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/google-sans/ProductSans-Regular.eot');
  src: url('./assets/fonts/google-sans/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/google-sans/ProductSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/google-sans/ProductSans-Regular.woff') format('woff'),
      url('./assets/fonts/google-sans/ProductSans-Regular.ttf') format('truetype'),
      url('./assets/fonts/google-sans/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/google-sans/ProductSans-Medium.eot');
  src: url('./assets/fonts/google-sans/ProductSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/google-sans/ProductSans-Medium.woff2') format('woff2'),
      url('./assets/fonts/google-sans/ProductSans-Medium.woff') format('woff'),
      url('./assets/fonts/google-sans/ProductSans-Medium.ttf') format('truetype'),
      url('./assets/fonts/google-sans/ProductSans-Medium.svg#ProductSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/google-sans/ProductSans-Bold.eot');
  src: url('./assets/fonts/google-sans/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/google-sans/ProductSans-Bold.woff2') format('woff2'),
      url('./assets/fonts/google-sans/ProductSans-Bold.woff') format('woff'),
      url('./assets/fonts/google-sans/ProductSans-Bold.ttf') format('truetype'),
      url('./assets/fonts/google-sans/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --red: #D90429;
  --bgGray: #F5F5F5;
}

.App {
  text-align: center;
  font-family: 'Product Sans', sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.border-red {
  border: 1px solid red;
}

.text-center {
  text-align: center !important;
}

.border-line {
  width: 80%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}